@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

div {
  
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color:#8d1007;
}

/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: small;
}

.btn-primary {
  color: #fff;
  background: #8d1007;
}

.btn-primary:hover {
  background: #650d0f;
  transition: background 0.3s ease-in-out;
}



/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 5vh;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.nav-peppers-logo {
  order: 1;
  height: 4vh;
  display:flex;
  margin-bottom: .5vh;
}





/* ............//// Showcase styling ////......... */

.showcase-area {
    height: 50vh;
    background: linear-gradient(
        rgba(240, 240, 240, 0.144),
        rgba(255, 255, 255, 0.336)
      ),
      url("https://s3.us-east-2.amazonaws.com/peppersmexicangrill.net/Images/tacos.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
  }
  
  .main-title {
    text-transform: uppercase;
    color: #8d1007; 
    text-shadow: 3px 2px #ffffff;
  }
  
  .peppers-logo{
      padding-top: 6vh;
      width: 20vw;
  }
  
/*  ABOUT SECTION */
#about {
    padding: 2vh 0;
  }
  
  .about-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  #about h2 {
    color: #ffffff;
    font-size: 2.3rem;
  }
  
  #about p {
    font-size: 1.2rem;
    color: #f5f5f7;
  }
  
  #about .small {
    font-size: 1.2rem;
    color: #666;
    font-weight: 600;
  }
  
  .about-img {
    flex: 1 1 400px;
    padding: 30px;
    transform: translateX(150%);
    animation: about-img-animation 1s ease-in-out forwards;
    border-radius: 50%;
  }

  @keyframes about-img-animation {
    100% {
      transform: translate(0);
    }
  }
  
  .about-text {
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translate(-150%);
    animation: about-text-animation 1s ease-in-out forwards;
  }
  
  @keyframes about-text-animation {
    100% {
      transform: translate(0);
    }
  }
  .about-img{
    max-height: 80vh;
    display: flex;
    justify-self: center;
    border-radius: 100%;
  }
  
  .about-img img {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 50%;
  }

/*Menu Section*/

  .drift-zoom-pane {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 99!important;
}

.food-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    color: #ffffff;
    border-bottom: 1px solid rgb(221,221,221);
    margin: 0 5% 0 5%;
  }

.food-menu-container{
    width: 98vw;
    display: flex;
    padding: 2em 2em 2em 2em;
}
.swiper-slide img{
    width: 100%;
    z-index: 1!important;
}

.swiper-nav-btn{
    color: white!important;
    padding: 6em 5em 6em 5em;
}

.swiper-button-next:hover {
    color: black!important;
    background-color: rgb(255, 255, 255);
    opacity: 90%;
    transition: all 0.4s ease-in-out;
    transform: scale(1.3); 
}
.swiper-button-prev:hover {
  color: black!important;
  background-color: rgb(255, 255, 255);
  opacity: 90%;
  transition: all 0.4s ease-in-out;
  transform: scale(1.3); 

}



/* ........./ Locations /.......... */

#food h2{
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    color: #ffffff;
    margin: 0 5% 2% 5%;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accordion {
    background-color: #8d1007;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 94%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: 1px solid #ccc!important;
  }
  
  .active, .accordion:hover {
    background-color: #3b0301;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: #8d1007;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;

  }

  .half-container{
    width: 50%;
    height: fit-content;
  }

  .circle{
    border-radius: 50%;
  }
  .fb-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }




  /*      Footer      */


  /* ........ Contact Us........... */
.ul{
    list-style-type: none;
    width: 80%;
    text-align: center;
}
.ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #fff;
}

.half-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hours{
    width: 100%!important;
    padding-bottom: 1rem!important;
}

#footer{
  padding: 2.6rem;
  background-color:#3b0301;
}
#footer p{
    color: #ffff;
}

.copyright{
    color: #ffff;
}






/* ......../ media query /.......... */

@media only screen and (max-width: 768px) {
    .navbar {
      opacity: 0.95;
      max-width: 100vw;
    }
  
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block;
    }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 6vh;
    }
  
    .navbar-container input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 99;
      opacity: 0;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #333;
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 100px;
      background: #fff;
      height: 100vh;
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 50px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  
    .logo {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 2rem;
    }
    .nav-peppers-logo{
      margin-bottom: 0px!important;
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }
  
    .peppers-logo{
      width: 30vw!important;
    }
  
    .about-wrapper {
      flex-direction: column;
    }
    .about-img{
      padding: 0!important;
    }
    .about-text{
      padding-bottom: 0px;
    }
    #about p{
      font-size: 1.4rem;

    }

    .swiper-nav-btn{
      padding: 2.5em 1em 2.5em 1em;
    }
  
  
  
  .panel{
      flex-direction: column;
  }
  .half-container{
      width: 100%;
      height: 10%;
  }
  .fb-view{
      width: 100%;
  }
  }
  
  
  @media only screen and (max-width: 600px) {
      html {
        font-size: 65%;
      }
  
      .contact-img {
          width: 90%;
          margin: 3rem auto;
        }
  }
  
  @media only screen and (max-width: 500px) {
  
    .navbar .menu-items li{
        font-size: 1.6rem;
    }
  
    .testimonial-container {
      flex-direction: column;
      text-align: center;
    }
  
   
  
    .form-container {
      width: 90%;
    }
  
    .contact-container {
      display: flex;
      flex-direction: column;
    }
  
    .contact-img {
      width: 90%;
      margin: 3rem auto;
    }
  
    .logo {
      position: absolute;
      top: 06px;
      right: 15px;
      font-size: 3rem;
    }
  
    .peppers-logo{
      width: 40vw!important;
    }
  
    .navbar .menu-items li {
      margin-bottom: 2.5rem;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
  
  @media only screen and (min-width: 769px) and (max-width: 1200px) {
    .img-container h3 {
      font-size: 1.5rem;
    }
  
    .img-container .btn {
      font-size: 0.7rem;
    }
  }
  
  @media only screen and (orientation: landscape) and (max-height: 500px) {
    .showcase-area {
      height: 50vmax;
    }
  }
  
  
  @media only screen and (max-height: 800px) {
  
      .navbar-container{
          height: 6vh!important;
      }
      .navbar{
          height: 7vh!important;
      }
      .nav-peppers-logo{
          height: 5vh!important;
      }
  
  
  }
  
  @media only screen and (max-height: 500px) {
  
      .navbar-container{
          height: 9vh!important;
      }
      .navbar{
          height: 10vh!important;
      }
  
      .nav-peppers-logo{
          height: 6vh!important;
      }
  
  }
  
  
  @media only screen and (min-width: 1375px) and (max-height: 1000px)
  
  {
    .showcase-area{
      height: 75vh;
      
    }
  
  }
