html, body {
    position: relative;
    height: 100%;
   }

   .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
    
  
  .teaserText {
    margin-left: 5rem;
    max-width: 55%;
    position:relative;
    background-color: rgba(255, 255, 255, 0.749);
  }
  .teaserTextBright {
    color: #fff;
    text-shadow: 1px 1px #000;
  }
  .teaserTextDark {
    color: #000;
    text-shadow: 1px 1px #fff;
  }
  .teaserTextColored {
    color: orange;
    text-shadow: 1px 1px #444;
  }
  
  /*
  .swiper-slide-active .teaserText {
    animation:mymove 1s ease-out forward;
    animation-iteration-count:1;
  
   Safari and Chrome 
  -webkit-animation:mymove 1s;
  -webkit-animation-iteration-count:1;
  }
  
  @keyframes mymove
  { from {top:0px; opacity: 0;}
  to {top:100px; opacity: 1}
  }
  
  @-webkit-keyframes mymove  Safari and Chrome 
  {
  from {top:0px; opacity: 0;}
  to {top:100px; opacity: 1;}
  }
  */